/* grayscale.css */
html, body {
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;
}
#pet, #pet-container, #pet *, #pet-container * {
    filter: none !important;
    -webkit-filter: none !important;
    color: inherit !important;
    background: inherit !important;
}